<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23E224</string>
	<key>BuildTimestamp</key>
	<string>1712295583</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>HazeOver</string>
	<key>CFBundleIconFile</key>
	<string>HazeOver.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.pointum.hazeover</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HazeOver</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.4</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1140</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.4</string>
	<key>DTSDKBuild</key>
	<string>23E208</string>
	<key>DTSDKName</key>
	<string>macosx14.4</string>
	<key>DTXcode</key>
	<string>1530</string>
	<key>DTXcodeBuild</key>
	<string>15E204a</string>
	<key>INIntentsSupported</key>
	<array>
		<string>GetSettingsIntent</string>
		<string>SetColorIntent</string>
		<string>SetDisplaysModeIntent</string>
		<string>SetDurationIntent</string>
		<string>SetHighlightModeIntent</string>
		<string>SetIntensityIntent</string>
		<string>SetStateIntent</string>
		<string>UpdateDimmingIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>LSUIElement</key>
	<true/>
	<key>MDItemKeywords</key>
	<string>distraction,dimmer,productivity,concentrate,focus,brightness,window,screen,display,monitor</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>™ and © 2007–2024 Maxim Ananov. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>Dimmer</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>GetSettingsIntent</string>
		<string>SetColorIntent</string>
		<string>SetDisplaysModeIntent</string>
		<string>SetDurationIntent</string>
		<string>SetHighlightModeIntent</string>
		<string>SetIntensityIntent</string>
		<string>SetStateIntent</string>
		<string>UpdateDimmingIntent</string>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>HazeOver.sdef</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://hazeover.com/updates.xml</string>
	<key>SUPublicEDKey</key>
	<string>iE+V0FHubV7svUf+Tcngu2Esuy27wgelhiJ7aB+azNQ=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>259200</integer>
</dict>
</plist>
